<!DOCTYPE html>
<html>
<head>
	<title> <%= title %> </title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="/javascripts/jscript.js"></script>
</head>
<body>

</body>
</html>